/**
* World PLaylist © 2016
**/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*font: Helvetica, Verdana, sans-serif;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #2980b9;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* Banner */
#banner {
  width: 100%;
  height:10%;
  background-color: #2980b9;
  overflow: hidden;
}

#banner-logo {
  width: 20%;
}

#logo {
  float: left;
  height: 90%;
  margin-left: 10%;
  padding-top: 1%;
}

#banner-link {
  width: 80%;
  margin-left: 20%;
  text-align: center;
  padding-top: 1%;
}

#mute-box {
  float: left;
  width: 10%;
  margin-right: 5%;
  margin-top: 1%;
}

#muteit {
  cursor: pointer;
}

#songs-list {
  float:left;
  width:10%;
  height:30%;
  margin-top: 1%;
  background: #e2eaf0;
  background-image: -webkit-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -moz-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -ms-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -o-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: linear-gradient(to bottom, #e2eaf0, #e0e2e3);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  border: none;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

#songs-list:hover {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -moz-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -ms-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -o-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: linear-gradient(to bottom, #f7f7f7, #ebeff5);
  text-decoration: none;
}

#music-link-add {
  font-size: 25;
  margin-right: 2%;
  width: 50%;
}

#submitMusic {
  background: #e2eaf0;
  background-image: -webkit-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -moz-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -ms-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: -o-linear-gradient(top, #e2eaf0, #e0e2e3);
  background-image: linear-gradient(to bottom, #e2eaf0, #e0e2e3);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 20;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#submitMusic:hover {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -moz-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -ms-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: -o-linear-gradient(top, #f7f7f7, #ebeff5);
  background-image: linear-gradient(to bottom, #f7f7f7, #ebeff5);
  text-decoration: none;
}

/* Playlist */
iframe {
  border: none;
}

#playlist {
  width: 100%;
  height: 90%;
  background-color: #ccc;
  overflow: hidden;
}

#playlist-box {
  width: 75%;
  height: 90%;
  margin-left: 10%;
  margin-top: 1%;
}

.music-info {
  width: 100%;
  padding-bottom: 3%;
  color: #fff;
  font-size: 35;
  text-align: center;
}

/* Footer */
#footer {
  width: 100%;
  height: 2%;
  background: #ccc;
  font-size: 15;
  text-align: center;
  padding-bottom: 1;
}
